<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Test Automation Suite">
  <test name="Different TestNG Test">
  
    <classes>
      <class name="testNGListener.FirstTest"/>
      <class name="testNGListener.SecondTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->